.sideBar{
  min-width: 230px;
  margin-left: -15px;
  padding-top: 40px;
  padding-left: 32px;
  height: 125vh;
  background: #fafafa;
}

.componentLink a {
  font-size: 14px;
  line-height: 14px;
  color: #818181;
}

.socialMedia a {
  font-size: 12px;
  line-height: 14px;
  color: #b2b2b2;
}

.socialMedia img {
  margin-right: 15px;
}

.channelButton {
  margin-top: 30px;
  border-radius: 100px;
  border: none;
  font-size: 12px;
  font-weight: 700;
  padding: 11px 30px;
  background-image: linear-gradient(to right, #8aefff, #00ffe1);
}
.channelButton:hover {
  background-image: linear-gradient(to right, #73c9d6, #00b79f);
}