body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  width: 1280px;
}

a {
  background-color: transparent !important;
}
a:hover {
  color: black !important;
}
a:focus {
  color: black !important;
}

.btn:focus, .btn:active {
   outline: none !important;
}

.sweet-alert .btn-primary {
    padding: 5px 35px !important;
    background-color: #f57261;
    color: white !important;
    outline: none !important;
    border: transparent !important;
}

.sweet-alert .btn-primary:active:focus, .sweet-alert .btn-primary:hover {
    background-color: #a34c42;
    color: white !important;
    outline: none !important;
    border: transparent !important;
}

.sweet-alert h2{
  color: #f57261 !important;
  font-family: 'Roboto', sans-serif !important;
  font-size: 23px;
  font-weight: 500;
}
